
body {
text-align: center;
font-family: "Cormorant Garamond";
}

a:hover {
background-color: lightgreen;
color: white;
border: 1px solid black;
}

a:visited {
color: peru;
}

h1 {
font-weight: 700;
font-size: 24px;
margin: 20px;
}

h2 {
font-weight: 400;
font-size: 18px;
margin: 20px;
}

footer {
font-weight: 100;
}

img {
  padding: 20px;
  border: 1px solid;
}

#osmanthus img{
  width: 25%;
  display: inline-block;
}

#agave img{
  width: 25%;
  display: inline-block;
}

#bluefinger img{
  width: 25%;
  display: inline-block;
}

#black img{
  width: 25%;
  display: inline-block;
}

#huntington img{
  width: 25%;
  display: inline-block;
}

#blueglow img{
  width: 25%;
  display: inline-block;
}